<section class="banner-area relative" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-between">
            <div class="banner-content col-lg-6 col-md-6 " style="margin-left:30px">
                <h6 class="text-white ">Treba vam prevoz? Pronađite danasa</h6>
                <h1 class="text-uppercase">
                    Neka te neko poćera
                </h1>
                <p class="pt-10 pb-10 text-white">
                    Ne bitno od mjesta, pronađite vaš prevoz danas.
                </p>
            </div>
            <div class="col-lg-4  col-md-6 header-right" style="margin-right:30px">
                <h4 class="pb-30">Traži prevoz!</h4>
                <form class="form" asp-action="Search" asp-controller="Post" method="get">
                    <div class="from-group">
                        <input class="form-control txt-field" type="text" name="title" placeholder="Naziv" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Naziv'">
                    </div>
                    <div class="form-group">
                        <input class="form-control txt-field" type="text" name="start" placeholder="Polazište" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Polazište'">
                    </div>
                    <div class="form-group">
                        <input class="form-control txt-field" type="text" name="destination" placeholder="Odredište" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Odredište'">
                    </div>
                    <div class="form-group">
                        <input class="form-control txt-field" type="number" name="price" placeholder="Minimalna cijena" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Minimalna cijena'">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-lg btn-block text-center text-uppercase">Traži</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section class="services-area pb-120" style="margin-top:50px">
    <div class="container">
        <div class="row section-title">
            <h1>Šta mi vama nudimo</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-car"></span>
                <a href="#"><h4>Taxi Servis</h4></a>
                <p>
                    Koristite internet kako bi danas pronašli prevoz
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-briefcase"></span>
                <a href="#"><h4>Podršku</h4></a>
                <p>
                    24/7 podrška za vaše probleme i nejasnoće
                </p>
            </div>
            <div class="col-lg-4 single-service">
                <span class="lnr lnr-bus"></span>
                <a href="#"><h4>Verifikacija prevoznika</h4></a>
                <p>
                    Sigurnost da vas voze povjerljive osobe.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="home-calltoaction-area relative">
    <div class="container">
        <div class="overlay overlay-bg"></div>
        <div class="row align-items-center section-gap">
            <div class="col-lg-8">
                <h1>Okusite iskustvo jednostavnog prevoza</h1>
                <p>
                    Odustanite od napora ranjenja i prevoza prepunjenim javim sredstvima i danas već koristite usluge koje Vam mi nudimo i ugodno dođite do vaše destinacije.
                </p>
            </div>
            <div class="col-lg-4 btn-left">
                <a href="mailto:info@pocheraj.me" class="primary-btn">Imate upit?</a>
            </div>
        </div>
    </div>
</section>

